#### Install pandas and read html

In [1]:
import pandas as pd

url= 'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'
df=pd.read_html(url)

#### Check how many tables are in the website

In [2]:
print(len(df))

3

#### Find out if working data is correct

In [3]:
print(df[0])

    Postal Code           Borough  \
0           M1A      Not assigned
1           M2A      Not assigned
2           M3A        North York
3           M4A        North York
4           M5A  Downtown Toronto
..          ...               ...
175         M5Z      Not assigned
176         M6Z      Not assigned
177         M7Z      Not assigned
178         M8Z         Etobicoke
179         M9Z      Not assigned

                                         Neighbourhood
0                                         Not assigned
1                                         Not assigned
2                                            Parkwoods
3                                     Victoria Village
4                            Regent Park, Harbourfront
..                                                 ...
175                                       Not assigned
176                                       Not assigned
177                                       Not assigned
178  Mimico NW, The Queensway West, South of Bloor,...
179                                       Not assigned

[180 rows x 3 columns]

#### Ensure column title can be read properly

In [4]:
print(df[0]['Postal Code'])

0      M1A
1      M2A
2      M3A
3      M4A
4      M5A
      ...
175    M5Z
176    M6Z
177    M7Z
178    M8Z
179    M9Z
Name: Postal Code, Length: 180, dtype: object

#### Assign working data frame to its own dataframe variable

In [5]:
df1=df[0]
print(df1)

    Postal Code           Borough  \
0           M1A      Not assigned
1           M2A      Not assigned
2           M3A        North York
3           M4A        North York
4           M5A  Downtown Toronto
..          ...               ...
175         M5Z      Not assigned
176         M6Z      Not assigned
177         M7Z      Not assigned
178         M8Z         Etobicoke
179         M9Z      Not assigned

                                         Neighbourhood
0                                         Not assigned
1                                         Not assigned
2                                            Parkwoods
3                                     Victoria Village
4                            Regent Park, Harbourfront
..                                                 ...
175                                       Not assigned
176                                       Not assigned
177                                       Not assigned
178  Mimico NW, The Queensway West, South of Bloor,...
179                                       Not assigned

[180 rows x 3 columns]

#### Describe current data

In [6]:
df1.describe()

       Postal Code       Borough Neighbourhood
count          180           180           180
unique         180            11           100
top            M4H  Not assigned  Not assigned
freq             1            77            77

#### Removing any borough that is 'Not assigned' and checking it has been removed per step 3

In [7]:
df1.drop(df1.loc[df1['Borough']=='Not assigned'].index,inplace=True)
df1['Borough'].unique()

array(['North York', 'Downtown Toronto', 'Etobicoke', 'Scarborough',
       'East York', 'York', 'East Toronto', 'West Toronto',
       'Central Toronto', 'Mississauga'], dtype=object)

#### Check for any 'Not assigned' values in Neighbourhood column as per step 3

In [8]:
'Not assigned' in df1.Neighbourhood

False

#### Check that there are no duplicate Postal Codes as per step 3

In [9]:
df1.describe()

       Postal Code     Borough Neighbourhood
count          103         103           103
unique         103          10            99
top            M4H  North York     Downsview
freq             1          24             4

 Seeing as there are no unassigned boroughs and Neighborhoods and all postal codes are unique this data can be read. Below will be the output of the shape of the data frame.

In [10]:
df1.shape

(103, 3)